@import "../../../assets/variables";

.notFound {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    background: linear-gradient(135deg, #1572e8, #1572e8, 50%, #333, 50%, #333);

    &__item {
        position: relative;

        &__title {
            color: #f3f3f3;
            display: flex;
            font-size: 15rem;
            align-items: center;
            justify-content: center;
            transition: $transition;
            font-family: "Poppins", sans-serif;
            text-shadow: -25px 25px 40px rgba(0, 0, 0, 0.5),
                -10px 10px 0px rgba(255, 255, 255, 0.5),
                -20px 20px 0px rgba(255, 255, 255, 0.2),
                -30px 30px 0px rgba(255, 255, 255, 0.05);

            &__zero {
                position: relative;
                display: inline-block;
                width: 200px;
                height: 200px;
                background: linear-gradient(to bottom, #fff, #777);
                border-radius: 50%;
                margin: 0 1rem;
                box-shadow: -25px 25px 40px rgba(0, 0, 0, 0.5);

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: 180px;
                    height: 180px;
                    border-radius: 50%;
                    transform: translateY(-50%);
                    background: linear-gradient(to top, #fff, #777);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    box-shadow: inset 0 0 30px rgba(0, 0, 0, 1);
                    background: linear-gradient(315deg, #1572e8, #1572e8, 50%, #333, 50%, #333);
                    animation: animation 5s infinite;
                }
            }
        }

        &__link {
            position: absolute;
            bottom: -25%;
            left: 50%;
            transform: translateX(-50%);
            width: 180px;
            height: 45px;
            font-weight: 600;
            font-size: .9rem;
            color: $white;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #1572e8;
            border-radius: 30px;
            font-family: "Poppins", sans-serif;

            &:after {
                position: absolute;
                content: '';
                right: 0;
                top: 0;
                width: 0;
                height: 100%;
                opacity: 0;
                z-index: -1;
                transition: $transition;
                background-color: #1572e8;
                border-radius: 20px;
            }

            &:hover {
                // border: 4px groove #1572e8;

                &:after {
                    left: 0;
                    width: 100%;
                    opacity: 1;
                }
            }
        }
    }
}


@keyframes animation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media only screen and (max-width: 550px) {
    .notFound {
        &__item {
            &__title {
                font-size: 14rem;

                &__zero {
                    width: 160px;
                    height: 160px;

                    &::before {
                        width: 140px;
                        height: 140px;
                    }

                    &::after {
                        width: 80px;
                        height: 80px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .notFound {
        &__item {
            &__title {
                font-size: 12rem;

                &__zero {
                    width: 135px;
                    height: 135px;
                    margin: 0 .7rem;

                    &::before {
                        width: 122px;
                        height: 122px;
                    }

                    &::after {
                        width: 75px;
                        height: 75px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 390px) {
    .notFound {
        &__item {
            &__title {
                font-size: 11rem;

                &__zero {
                    width: 130px;
                    height: 130px;
                    margin: 0 .5rem;

                    &::before {
                        width: 120px;
                        height: 120px;
                    }

                    &::after {
                        width: 70px;
                        height: 70px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 350px) {
    .notFound {
        &__item {
            &__title {
                font-size: 9rem;
                text-shadow: -5px 5px 0px rgba(255, 255, 255, 0.5),
                    -10px 10px 0px rgba(255, 255, 255, 0.2),
                    -15px 15px 0px rgba(255, 255, 255, 0.05);

                &__zero {
                    width: 115px;
                    height: 115px;

                    &::before {
                        width: 105px;
                        height: 105px;
                    }

                    &::after {
                        width: 60px;
                        height: 60px;
                    }
                }
            }

            &__link {
                width: 150px;
                height: 40px;
                font-weight: 500;
                font-size: .8rem;
            }
        }
    }
}