$black: #242323;
$white: #fff;
$radius: 1rem;

$transition: .5s all ease;

// @media only screen and (max-width: px) {}

// preventDefault()


// <-- GET -->

// const [headerData, setHeaderData] = React.useState();

// React.useEffect(() => {
//     const fetchData = async () => {
//         try {
//             const response = await fetch(`${url}/menu`);
//             if (!response.ok) {
//                 throw new Error(`Ошибка: ${response.status}`);
//             }
//             const data = await response.json();
//             setHeaderData(data);
//         } catch (error) {
//             console.error(error.message);
//         }
//     };

//     fetchData();
// }, [url]);

// <-- POST -->

//  const formReg = (e) => {

//      e.preventDefault()
//      const el = e.target.elements
//      fetch('https://63c2c490b0c286fbe5f347e9.mockapi.io/soosum', {
//          method: 'POST',
//          headers: {
//              'Content-type': 'application/json', // qysi formatta yuborish
//              'Accept': 'application/json', // qysi formatta uni qabul qilib olishi
//              'Access-Control-Allow-Origin': '*' // ruxsat berish hammaga
//          },
//          body: JSON.stringify({
//              name: el.name.value,
//              tel: parseInt(el.tel.value)
//          })
//      })
//          .then((res) => res.json())
//          .then((data) => console.log(data))
//      e.target.elements.name.value = ''
//      e.target.elements.tel.value = '998'
//  }
