@import '../assets/variables';

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}


::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: $black;
}

::-webkit-scrollbar-thumb {
    background-color: $black;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

input {
    outline: #fff;
    padding-left: 10px;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

li {
    list-style-type: none;
}

img {
    object-fit: cover;
}